################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Rail_Info
/build
/.vscode
/test/StationAssistantTests/obj
/test/StationAssistantTests/bin
