@page "/paths"
@using Syncfusion.Blazor.Navigations
@inject StationAssistant.Data.IStationDataService StationData
@attribute [Authorize]

@if (!dataIsLoaded)
{
    <p>Loading...</p>
}
else
{
    <SfTab>
        <TabItems>
            @foreach (string area in areas)
            {
                <TabItem Content="@area">
                    <ChildContent>
                        <TabHeader Text="@area"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <Paths Area="@area" @ref="pathsComoponent" @key="@area"></Paths>
                    </ContentTemplate>
                </TabItem>
            }
        </TabItems>
    </SfTab>

}


@code {
    Paths pathsComoponent;
    private string[] areas { get; set; }
    private string currentArea { get; set; }
    bool dataIsLoaded = false;

    protected override async Task OnInitializedAsync()
    {
            areas = await StationData.GetAreasAsync();
            currentArea = areas[0];
            dataIsLoaded = true;
    }
}
