@page "/updater"
@inject StationAssistant.Services.INSIUpdateService NsiUpdateService

<h1>Updater</h1>

<p> @result</p>

<button class="btn btn-primary" @onclick="(async () => await UpdatePF())">Update PF claims!</button>

<button class="btn btn-primary" @onclick="(async () => await UpdateVagonKinds())">Update Vagon Kinds!</button>

<button class="btn btn-primary" @onclick="(async () => await UpdateTrainKinds())">Update Train Kinds!</button>

@code {

    [Parameter]
    public string result { get; set; } = "Выберите справочник";


    private async Task UpdatePF()
    {
        result = await NsiUpdateService.UpdatePFClaimsAsync();
    }

    private async Task UpdateVagonKinds()
    {
        result = await NsiUpdateService.UpdateVagonKindsAsync();
    }

    private async Task UpdateTrainKinds()
    {
        result = await NsiUpdateService.UpdateTrainKindsAsync();
    }
}
