@using Syncfusion.Blazor.Grids

@inject StationAssistant.Services.IGvcDataService GvcDataFetch
@inject StationAssistant.Services.NotificationService NotificationService

@if(Train == null)
{
<p>Загрузка...</p>
}else{
<div class="container-fluid mb-2" id="tbl" style="text-align: center;font-size: medium;">
    <table class="border container-fluid">
        <thead>
            <tr>
                <td>Станция формирования</td>
                <td>№ состава</td>
                <td>Станция назначения</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Train.FormStation
                </td>
                <td>
                    @Train.Ordinal
                </td>
                <td>
                    @Train.DestinationStation
                </td>
            </tr>
        </tbody>
    </table>
    <table class="border container-fluid">
        <thead>
            <tr>
                <td>Списывание</td>
                <td>Число</td>
                <td>Месяц</td>
                <td>Часы</td>
                <td>Мин</td>
                <td>Условная длина</td>
                <td>Масса брутто</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>с головы</td>
                <td>@Train?.DateOper.Day</td>
                <td>@Train?.DateOper.Month</td>
                <td>@Train?.DateOper.Hour</td>
                <td>@Train?.DateOper.Minute</td>
                <td>@Train?.Length</td>
                <td>@Train?.WeightBrutto</td>
            </tr>
        </tbody>
    </table>
</div>

<SfGrid DataSource="@Train.Wagons.OrderBy(w => w.SequenceNum)" EnableVirtualization="false" AllowSorting="true">
    <GridColumns>
        <GridColumn Field=@nameof(WagonModel.SequenceNum) HeaderText="№" Width="35"></GridColumn>
        <GridColumn Field=@nameof(WagonModel.Num) HeaderText="Номер" TextAlign="TextAlign.Left" IsPrimaryKey="true" Width="60"></GridColumn>
        <GridColumn Field=@nameof(WagonModel.Kind) HeaderText="Род" Width="45"></GridColumn>
        <GridColumn Field=@nameof(WagonModel.Destination) HeaderText="Назначение" Width="70"></GridColumn>
        <GridColumn Field=@nameof(WagonModel.Ksob) HeaderText="Собств" Width="55"></GridColumn>
        <GridColumn Field=@nameof(WagonModel.Tvag) HeaderText="Тара" Width="45"></GridColumn>
        <GridColumn Field=@nameof(WagonModel.WeightNetto) HeaderText="Вес" Width="45"></GridColumn>
        <GridColumn Field=@nameof(WagonModel.Mark) HeaderText="Отметки" Width="75"></GridColumn>
    </GridColumns>
</SfGrid>
}

<style>
    thead {
        font-weight: 500;
    }
</style>

@code {
    [Parameter] public Guid TrainId { get; set; }
    private TrainModel Train { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Train = await GvcDataFetch.GetTrainInfo(TrainId);
        }
        catch (Exception e)
        {
            if (e is RailProcessException)
            {
                NotificationService.SetMessage(TypeNotification.Warning, e.Message);
            }
            else
            {
                NotificationService.SetMessage(TypeNotification.Error, "Не удалось выполнить операцию");
            }
        }
    }
}